@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');



:root{
    --color-blancoOscuro:#E5E5E5;
    --color-blanco:#FFFFFF;
    --color-blanco2: #D8DFE8;
    --color-azul: #0A3871;
    --color-gris: #495057; 
    --color-hover:#272727; 
}


*{
    padding: 0;
    margin: 0;
}


body{
    background-color: var(--color-blancoOscuro);
    box-sizing: border-box;
    height:100%;
    width:  100%;
}

.main_principal{
    display: flex;
    align-items: center;
    margin-right: 5%;
    justify-content: space-between;
   
}

.titulo{
    padding: 40px;
    
}


.principal{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
   
}

.Insertar_texto{
   margin-left: 240px;
   margin-top: 168px;
   margin-bottom: 808px;
   margin-right: 623px;
    
}


input{
    border :none;
    outline: none;
    font-size: 32px;
    background-color: var(--color-blancoOscuro);
}


input::placeholder{
    font-size: 32px;
    color: var(--color-azul);
}

.validacion{
    font-size: 16px;
    color: var(--color-gris);
    width: 300px;
    height: 18px;
   margin-left: 13%;
   margin-bottom: 3%;
   
   
}

.botones{
    display: flex;
    justify-content: left;
    gap: 24px;
    width: 680px;
    margin-left: 12%;
   
   
}



.boton_encript{
    margin-left: 0%;
    margin-bottom: 72px;
    margin-right: 24px;
    margin-top: 16px;
    padding: 24px;
    font-size: 16px;
    border-radius: 24px;
    background-color: var(--color-azul);
    color: var(--color-blanco);
    width: 328px;
    height: 67;
    
}

.boton_desencript{
    margin-left: 0px;
    margin-bottom: 72px;
    margin-right: 24px;
    margin-top: 16px;
    padding: 24px;
    font-size: 16px;
    border-radius: 24px;
    background-color: var(--color-blanco2);
    color: var(--color-azul);
    width: 328px;
    

}

.boton_copiar{
    padding: 24px 24px;
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    font-size: 16px;
    border-radius: 24px;
    background-color: var(--color-blanco2);
    color: var(--color-azul);
    width: 328px;
    


}

botones:hover{
    background-color: var(--color-hover);
}



.image_container{
    position: relative;
    
}

.RectaguloB{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; 
    bottom: 100%;
}

.MuñecoB{
    position: absolute;
    top: 20%;
    left: 10%;
    z-index: 2; 
    
}

.Lugar_resultado{
    font-size: 24;
    font-family: "IBM Plex Sans", sans-serif;
    position: absolute;
    bottom: 450px;
    left: 25%;
    
}


.Ultimo_mensaje{
    font-size: 20px;
    margin-left: 5%;
    padding: 24px;

}